@import "./reset.css";

:root {
    --font-family: 'Roboto', sans-serif;
    --grey-100: #e9ecef;
    --grey-200: #dee2e6;
    --grey-300: #ced4da;
    --grey-400: #adb5bd;
    --grey-500: #6c757d;
    --grey-600: #495058;
    --grey-700: #343a40;
    --grey-800: #212529;
    --text-light-1: rgba(60, 60, 60, .1);
    --text-light-2: rgba(60, 60, 60, .7);
    --text-light-3: rgba(60, 60, 60, .33);
    --text-light-4: rgba(60, 60, 60, .18);
    --text-dark-1: rgba(255, 255, 255, .87);
    --text-dark-2: rgba(235, 235, 235, .6);
    --text-dark-3: rgba(235, 235, 235, .38);
    --text-dark-4: rgba(235, 235, 235, .18);
    --brand-primary: rgba(148, 153, 255);
    --brand-primary-1: rgba(148, 153, 255, 0.8);
    --brand-primary-2: rgba(148, 153, 255, 0.6);
    --brand-primary-3: rgba(148, 153, 255, 0.4);
    --brand-secondary: rgba(123, 40, 178);
    --brand-secondary-1: rgba(123, 40, 178, 0.8);
    --brand-secondary-2: rgba(123, 40, 178, 0.6);
    --brand-secondary-3: rgba(123, 40, 178, 0.4);
    --brand-teritary: rgba(189, 0, 88);
    --brand-teritary-1: rgba(189, 0, 88, 0.8);
    --brand-teritary-2: rgba(189, 0, 88, 0.6);
    --brand-teritary-3: rgba(189, 0, 88, 0.4);
    --bg-negative: #1a1a1a;
    --bg-positive: #252525;
    --border: #929292;
    --border-danger: #810105;


    font-family: var(--font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: var(--text-dark-1);
    background-color: var(--bg-negative);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h1 {
    line-height: 1.5em;
    font-size: 52px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

h3 {
    font-size: 24px;
    font-weight: 900;
}

button {
    cursor: pointer;
}

body {
    background: url('/waveline-bg.jpg') no-repeat 0 / cover fixed;
}

.button {
    border: 1px solid var(--grey-400);
    border-radius: 4px;
    color: var(--grey-400);
    padding: 4px 8px;
    transition: color .2s ease-in-out, border-color .2s ease-in-out;
}

.button:hover {
    border-color: var(--brand-primary);
    color: var(--brand-primary);
}

.button.danger:hover {
    border-color: var(--border-danger);
    color: var(--border-danger);
}

.button.close:hover {
    border-color: var(--grey-600);
    color: var(--grey-600);
}

.button.small {
    font-size: 12px;
    padding: 2px 4px;
    line-height: 1.25em;
}

.form__input {
    border: 1px solid var(--grey-400);
    border-radius: 4px;
    padding: 16px 8px;
    height: 20px;
    width: 50%;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
}

#app:before,
#app:after {
  content: '';
  position: fixed;
  top: 0;
  width: calc((100vw - 1200px) / 2);
  height: 100%;
}

#app:before {
    left: 0;
    background: linear-gradient(90deg, transparent 30%, rgb(0 0 0 / 70%) 90%, rgb(0 0 0 / 75%));
}

#app:after {
    right: 0;
    background: linear-gradient(90deg, rgb(0 0 0 / 75%), rgb(0 0 0 / 70%) 10%, transparent 70%);
}

.modal__close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}
